# Frontend Variables (Must start with VITE_)
VITE_API_URL=https://your-api-gateway-url
VITE_OAUTH_SERVER_URL=https://identity.us-ashburn-1.oraclecloud.com
VITE_ANALYTICS_ENDPOINT=https://127.0.0.1
VITE_ANALYTICS_WEBSITE_ID=dummy-id

# Backend Variables
DATABASE_URL=postgres://localhost:5432/your_db
OAUTH_SERVER_URL=https://identity.us-ashburn-1.oraclecloud.com
PORT=3000
NODE_ENV=production
